@model IEnumerable<Clinic.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<<<<<<< HEAD
@using (Html.BeginForm("Index1", "Appointments", FormMethod.Get))
{
    <input type="text" name="Search" placeholder="enter patient name..." />
    <input type="submit" name="submit" value="Search" />
    

}
=======
>>>>>>> 1e4981b7417a266729d67455bc456b21bcf0b1c0

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation)
            </th>
            <th>
<<<<<<< HEAD
                @Html.DisplayNameFor(model => model.appoitmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentType.Type)
            </th>

=======
                @Html.DisplayNameFor(model => model.AppointmentType.Type)
            </th>
>>>>>>> 1e4981b7417a266729d67455bc456b21bcf0b1c0
            <th></th>
        </tr>
    </thead>
    <tbody>
<<<<<<< HEAD
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.FirstName)
=======
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.DoctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.PatientName)
>>>>>>> 1e4981b7417a266729d67455bc456b21bcf0b1c0
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reservation)
            </td>
            <td>
<<<<<<< HEAD
                @Html.DisplayFor(modelItem => item.appoitmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentType.Type)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.appoitmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.appoitmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.appoitmentId">Delete</a>
            </td>
        </tr>
        }
=======
                @Html.DisplayFor(modelItem => item.AppointmentType.Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
>>>>>>> 1e4981b7417a266729d67455bc456b21bcf0b1c0
    </tbody>
</table>
